.cart-panel {
  width: 365px;
  height: 223px;

  margin: 32px 0px 0px 20px;
}

.cart-title {
  width: 100%;
  height: 65px;

  display: flex;

  background: #27ae60;
  border-radius: 5px 5px 0px 0px;
}

.cart-title span {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: start;
  color: #ffffff;

  margin: 22px 0px 0px 20px;
}

.cart-content {
  height: 158px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;

  background: #f5f5f5;
}

.cart-content h3 {
  width: 342px;
  height: 40px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #333333;

  margin: 56.67px 11.5px 0px 11.5px;
}

.cart-content p {
  width: 345px;
  height: 24px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #828282;

  margin: 0px 10px 44px 10px;
}

.cart-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;

  background: #f5f5f5;
}

.cart-footer {
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #f5f5f5;
  border-top: #e0e0e0 solid 2px;
  border-radius: 0px 0px 5px 5px;

  padding-bottom: 20px;
}

.cart-footer div {
  width: 243px;

  display: flex;
  justify-content: space-between;

  margin: 14px 0px 22px 0px;
}

.cart-footer div p {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.cart-footer div span {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #828282;
}

.button-remove-all {
  width: 223px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;

  background: #e0e0e0;
  border: 2px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 8px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #828282;
}

@media only screen and (min-width: 970px) {
  .cart-panel {
    margin-right: 80px;
  }
}

@media only screen and (min-width: 1024px) {
  .cart-panel {
    width: 320px;
  }
}
