@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.body {
  font-family: "Inter", sans-serif;
}

.App {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (min-width: 970px) {
  main {
    flex-wrap: nowrap;
  }
}
